.App {
  text-align: center;
  height: 100vh;
  background: url("./images/space.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  opacity: 0.6;
  width: 30vh;
  height: 30vh;
  top: 40%;
  left: 40%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .App {
    background-size: 250% 100%;
  }

  .card {
    width: 30vh;
    height: 30vh;
    top: 20%;
    left: 17%;
    position: absolute;
  }
}
